/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/MDX/components/Table/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Table_wrap__6YVgg {
  width: 100%;
  overflow: auto;
}
.Table_wrap__6YVgg table {
  margin-bottom: var(--base);
  overflow: auto;
  max-width: 100%;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
.Table_wrap__6YVgg table thead {
  color: var(--theme-elevation-500);
}
.Table_wrap__6YVgg table thead th {
  font-weight: normal;
  text-align: left;
}
.Table_wrap__6YVgg table th, .Table_wrap__6YVgg table td {
  padding: calc(var(--base) * 0.75);
  min-width: 150px;
  vertical-align: top;
}
.Table_wrap__6YVgg table tbody tr:nth-child(odd) {
  background: var(--theme-elevation-50);
}
@media (max-width: 1024px) {
  .Table_wrap__6YVgg table th, .Table_wrap__6YVgg table td {
    max-width: 70vw;
    padding: calc(var(--base) * 0.5);
  }
}
@media (max-width: 1024px) {
  .Table_wrap__6YVgg {
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -1);
    padding-left: calc(var(--gutter-h) * 0.5);
    padding-right: calc(var(--gutter-h) * 0.5);
    width: calc(100% + var(--gutter-h) * 2);
    max-width: calc(100% + var(--gutter-h) * 2);
  }
}
